#!/usr/bin/env xdg-open
[Desktop Entry]
Name=OMAD
Name[en_US]=OMAD
GenericName=Online MAnga Downloader
Exec=omad
Icon=system-file-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;FileTransfer;

